.homepage {
  background-color: linen;
}

.searchbar {
  background-color: white;
}

.navbar {
  background-color: tomato;
  text-align: center;
}

.review {
  background-color: pink;
}

.review:hover {
  background-color: indianred;
}

.brewLink:hover {
  transform: scale(1.1);
}


.breweryrender {
  text-align: center;
  background-color: lightblue;
  border-style: dashed;
  height: 600px;
  width: 45%;
  margin-left: 10%;
  margin-top: 2%;
  float: left;
  overflow: auto;
}

.breweryShow {
  border-style: solid;
  text-align: center;
  color: green;
  padding: 5px;
  height: 50%;
  width: 20%;
  float: right;
  margin-top: 10%;
  margin-right: 15%;
}