html {
  background-color: #F6F6E3;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

textarea {
  max-height: 100px;
  min-height: 100px;
  min-width: 250px;
  max-width: 250px
}


.beerz:active {
  transform: scale(1.1);
  animation: spin 1s infinite;
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

.reviewCard {
  color: black;
  padding: 10px;
}

.login {
  float: all;
  text-align: center;
  border-style: solid;
  background-color: lightblue;
  width: 30%;
  margin-top: 10%;
  margin-left: 30%;
}

.searchbar {
  background-color: white;
}

.navbar {
  background-color: #F39C00;
  text-align: center;
}

.review {
  background-color: pink;
}

.review:hover {
  background-color: indianred;
}

.brewLink:hover {
  transform: scale(1.1);
}

.breweryrender {
  text-align: center;
  background-color: lightblue;
  border-style: line;
  box-shadow: 5px 7px grey;
  height: 600px;
  width: 45%;
  margin-left: 10%;
  margin-top: 2%;
  float: left;
  overflow: auto;
  padding: 15px;
}

.breweryShow {
  background-color: salmon;
  border-style: line;
  box-shadow: 5px 7px grey;
  text-align: center;
  color: green;
  padding: 5px;
  height: 600px;
  width: 20%;
  float: right;
  margin-top: 2%;
  margin-right: 15%;
  overflow: auto;
}